* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    background-color: #EDEDED;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#wrapper {
    text-align: center;
    padding-inline: 30px;
}

.ri-home-9-fill {
    font-size: 2em;
}

h1 {
    font-size: 1em;
    color: #25B800;
    font-weight: 400;
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
}

.container {
    background: #FEFFDB;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top-left-radius: 0;
}

.buttons {
    width: 100%;
    color: #FCFF69;
    background: #00202E;
    border-radius: .5rem;
    font-size: .9em;
    list-style-type: none;
    line-height: 2rem;
}

#buttons02 {
    background: transparent;
}

#buttons02 a {
    color: #25B800;
}

.buttons a {
    color: #FCFF69;
}

.done-btn {
    width: 100%;
    color: #FFFFFF;
    background: #25B800;
    border-radius: .5rem;
    font-size: .9em;
    list-style-type: none;
    line-height: 2rem;
    display: block;
    margin-top: 10px;
}

.tabbers {
    display: flex;
}

.tab {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
    padding: 8px 15px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.tab:first-child {
    border-radius: 5px 0 0 0;
}

.tab:last-child {
    border-radius: 0 5px 0 0;
}

.tab.active {
    background: #25B800;
    color: #FFFFFF;
}

.tab:hover {
    background: #25B800;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.note {
    color: red;
}