* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    font-size: 1em;
}

body {
    line-height: 1.0;
    min-height: 100vh;
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.922), rgba(0, 0, 0, 0.922)), url(../images/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0%, center;
    background-size: auto, cover;
    font-family: sans-serif;
    color: #FFF;
}

#wrapper {
    margin: 9vh 8vw;
    text-align: center;
}

#image01 {
    margin-bottom: 2.625rem;
}

#image01 img {
    border-radius: 0.75rem;
}

#text01,
#text02,
#text03,
#text06 {
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
    font-size: .9em;
    line-height: 1.5;
}

.buttons {
    border-radius: 0.5rem;
    color: #000000;
    padding-inline: 10px;
    margin: 0 auto;
    border: none;
    font-size: .9em;
    width: 100%;
    line-height: 2.5rem;
    color: #000000;
    cursor: pointer;
}

.buttons a {
    color: #000000;
}

.buttons li {
    list-style-type: none;
}

#buttons01 {
    background: #52FF26;
}

#buttons02 {
    background: #FCFF69;
}

#text04,
#text05 {
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
    font-size: .9em;
    line-height: 1.5;
    color: #00FF38;
}

.ri-lock-fill {
    font-size: 1.3em;
}

#text06 {
    color: #FCFF69;
}

@media(min-width: 481px) {
    #wrapper {
        max-width: 500px;
        margin-inline: auto;
    }

    #text01,
    #text02,
    #text03,
    #text06 {
        line-height: 2;
        font-size: 1.2em;
    }

    .buttons {
        max-width: max-content;
        padding-inline: 25px;
        font-size: 1.2em;
    }

    #text04,
    #text05{
        font-size: 1.2em;
    }
}